<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        table {
            table-layout: fixed;
            border-collapse: collapse;
        }

        td, th {
            word-wrap: break-word;
            padding: 5px;
            width: 200px;
        }
    </style>
    <title th:text="${title.nimi +  ' - Mielipide Upgrade'}">Title</title>
    <meta charset="UTF-8"/>
</head>

<body>
<header>
    <p><a th:href="${'/'}">Takaisin</a></p>
    <h1 th:text="${title.nimi}">Aihe</h1>
</header>

<table>

    <th align="center">Keskustelu</th>
    <th align="center">Viestien määrä</th>
    <th align="center">Viimeisin Viesti</th>
    <tr th:each="keskustelu : ${keskustelulista}">
        <td align="center"><a th:href="${'/keskustelut/'+keskustelu.id}"><span
                th:text="${keskustelu.nimi}">Linkki</span></a></td>
        <td align="center" th:text="${keskustelu.maara}">1</td>
        <td align="center" th:text="${keskustelu.aika}">01:01:01 01/01/0001</td>
        <td align="center"><a th:href="${'/poista/keskustelu/' + keskustelu.id}">Poista</a></td>

    </tr>
</table>
<pre>


        </pre>
<form method="POST">
    <span> Lisää Keskustelu: </span>
    <input type="text" name="keskustelu"/>
    <input type="submit" value="lisää!"/>
</form>

</body>
</html>
