<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title><span th:text="${title}">jotain</span></title>
    <meta charset="UTF-8" />
</head>

<body>
        <pre>       Aihe     Viestien määrä       Viimeisin viesti </pre>
        <ul>
            <p th:each="keskustelu : ${keskustelulista}">
                <a th:href="${'/keskustelut/'+keskustelu.id}">
                    <span th:text="${keskustelu.nimi}">jotain?</span></a> <span th:text="${määrä}">  1</span>
            </p>

        </ul>
    
    <form method="POST">
        <span> Lisää Keskustelu: </span>
            <input type="text" name="keskustelu"/>
            <input type="submit" value="lisää!"/>
        </form>

</body>
</html>
