<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        table {
            table-layout: fixed;
            border-collapse: collapse;
        }
        td.aika{
            word-wrap: break-word;
        }
        td.nimi{
            width: 180px;
            word-wrap: break-word;
        }
        td.teksti{
            word-wrap: break-word;
            padding: 5px;
            width: 600px;
        }

    </style>
    <title th:text="${title.nimi +  ' - Mielipide Upgrade'}">Title</title>
</head>
<header>
    <p><a th:href="${'/' + title.aihe}">Takaisin</a></p>
    <h1 th:text="${title.nimi}">Nimi</h1>
</header>
<body>



<table th:each="viesti : ${viestilista}">

    <tr>
        <td class = "nimi" align="left"> <small th:text="${viesti.lahettaja}">lähettäjä</small></td>
        <td class = "aika" align="left"> <small th:text="${viesti.aika}">aika</small></td>
    </tr>
    <tr>
        <td class = "teksti" colspan="2" align= "left" th:text="${viesti.teksti}">Tekstiä</td>
    </tr>

</table>
<pre>

</pre>
<form method="POST">
    <span> Viesti: </span>
    <input type="text" name="viesti"/>
    <span> Lähettäjä: </span>
    <input type="text" name="lähettäjä"/>
    <input type="submit" value="lähetä"/>
</form>

</body>
</html>
