<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1 th:each="keskustelu : ${title}">
    <span th:text = "${keskustelu.nimi}">enkä?</span> </h1>

          <p th:each="viesti : ${viestilista}">
                
                    <span th:text="${viesti.teksti}">some</span>
                    terveisin
                    <span th:text="${viesti.lahettaja}">any</span>
                    <span th:text="${viesti.aika}">time</span>
            </p>
    
    <form method="POST">
        <span> Viesti: </span>
            <input type="text" name="viesti"/>
        <span> Lähettäjä: </span>
            <input type="text" name="lähettäjä"/>
            <input type="submit" value="lähetä"/>
        </form>

</body>
</html>
